<html>
<head>
	<title>brent hermann</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="brent.css">
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="brent.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">
		<div class="row text-center text-raleway headline">
			<div class="col-xs-6 col-sm-4 letter-b">B</div>
			<div class="col-xs-6 col-sm-4 letter-r">R</div>
			<div class="col-xs-6 col-sm-4 letter-e">E</div>
			<div class="col-xs-6 col-sm-4 letter-n">N</div>
			<div class="col-xs-6 col-sm-4 letter-t">T</div>
			<div class="col-xs-6 col-sm-4 letter-h">H</div>
			<div class="col-xs-6 col-sm-4 letter-e">E</div>
			<div class="col-xs-6 col-sm-4 letter-r">R</div>
			<div class="col-xs-6 col-sm-4 letter-m">M</div>
			<div class="col-xs-6 col-sm-4 letter-a">A</div>
			<div class="col-xs-6 col-sm-4 letter-n">N</div>
			<div class="col-xs-6 col-sm-4 letter-n">N</div>
		</div>
		<div class="row text-center text-lato">
			<div class="col-xs-12">
				<P>brent hermann is an artist based in san francisco</P>
				<p>
					please 
					<a href="javascript:"
						data-toggle="popover"
						data-placement="top"
  						data-content="<div class='text-lato'><ul class='text-center list-inline'><li><a href='https://www.facebook.com/brent.hermann'>facebook</a></li><li>-</li><li><a href='mailto:brenthermann@gmail.com'>email</a></li><li>-</li><li><a href='https://www.linkedin.com/profile/view?id=253265838'>linkedin</a></li></ul></div>"
  						data-html="true">
  						contact
  					</a>
  					for inquiries
  				</p>
			</div>
		</div>
	</div>

</body>
</html>
